*{
  margin:0;
  padding:0;
  font-family:monospace;
}

body{
  width:100%;
  height:100%;
}

.navbar{
  width:100%;
  height:10%;
  background-color:yellow;
}

.navbar .logo{
  width:25%;
  height:100%;
}
.navbar .logo a{
  
}

