  *{
  margin:0;
  padding:0;
  font-family:monospace;
}

.navbar{
  width:100%;
  height:10%;
  display:flex;
  background-color:mintcream;
}

.navbar .logo{
  width:25%;
  height:100%;
}

.navbar .logo a{
  width:100%;
  height:100%;
  curser:pointer;
  display:flex;
  justify-content:center;
}

.navbar .logo a img{
  width:auto;
  height:auto;
}

.navbar .menu{
  width:75%;
  height:100%;
  background-color:azure;
}

.navbar .menu .menubar{
  /* height:100%; */
  width:100%;
}

.navbar .menu .menubar ul{
  height:100%;
  width:100%;
  display:flex;
  justify-content:space-around;
}

.navbar .menu .menubar ul li{
  list-style:none;
  height:100%;
  position:relative;
  display:flex;
  align-items:center;
  cursor:pointer;
}

.navbar .menu .menubar ul li a{
  text-decoration:none;
  color:red;
  padding:5px;
  font-size:1.5vw;
}

.navbar .menu .menubar ul .underline_current > a{
  text-decoration:underline red;  
}

.navbar .menu .menubar ul li .submenu{
  display:none;
}
.navbar .menu .menubar ul li:hover .submenu{
  display:block;
  position:absolute;
  flex-direction:column; 
  width:auto;
  height:auto;
  background-color:GhostWhite;
  top:100%;
  left:50%;
  transform:translateX(-50%);
  box-shadow:outset(2% 5% 2% gray);
}

.navbar .menu .menubar ul li .submenu li a{
  font-size:1vw;
  color:darkred;
  text-align:center;
  display:inline-block;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

@media (max-width:576px){
.navbar{
  height:5%;
  background-color:#4bdeff6b;
}
.navbar .logo{
  width:80%;
}

.navbar .logo a{
  width:50%;
  justify-content:none;
  padding-left:20%;
}
 
 .navbar .menu{
   width:20%;
 }

 .menu .menubar{
   width:0;
   height:0
  ;
 }

 .menu .mobilebar{
    width:100%;
    height:100%;
    background-color:#00c7ff63;
  }

 .navbar .menu .mobilebar .hamburger{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    padding-left:5px;
    align-items:center;
    cursor:pointer;
 }

 .navbar .menu .mobile-open .mobilebar .hamburger{
    display:flex;
    background:gray;
    position:absolute;
    top:10%;
    left:auto;
    z-intex:10;
    flex-direction:column;
 }

 .navbar .menu .mobilebar .hamburger span{
  display:block;
  width:20px;
  height:4px;
  background:white;
  border-radius:2px;
  box-shadow:0 7px 0 white,0 -7px 0 white;
  z-index:100;
 }

 .navbar .menu.mobile-open .menubar ul {
    display: flex;
    background: grey;
    position: absolute;
    top:5%;
    left: 0;
    right: 0;
    z-index: 9;
    flex-direction: column;
  }

 .navbar .menu .menubar ul{
  display:none;
  height:auto;
  width:100%;
 }

  .navbar .menu .menubar ul li {
    padding: 5% 0;
    width:100%;
    justify-content: center;
  }

 .navbar .menu .menubar ul li a{
    font-size: 1rem;
    text-color: white;
  }

 .navbar .menu .menubar ul li .submenu {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translateX(0);
    width: 100%;
    background-color: pink;
    display: none;
  }

   .menu .menubar ul li .submenu li a {
    font-size: 1.5rem;
    color: green;
  }

  .navbar .menu .menubar ul li.open-submenu > .submenu {
    display: block;
  }

  .submenu-toggle {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0 6px;
    cursor: pointer;
  }
}


/*------------------ form css----------------- */
.form{
 width:100%;
 height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
}

.form-container {
    background: #fff;
    padding: 30px;
    width: 30vw;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
 font-size:2vw;
}


.input-box {
    position: relative;
    margin-bottom: 1.5vw;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 1vw;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: 0.3s;
    pointer-events: none;
}


.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #2575fc;
}

.input-box input:focus {
    border-bottom-color: #2575fc;
}


button {
    width: 100%;
    padding: 10px;
    background: #2575fc;
    color: white;
    border: none;
    border-radius: 1.5vw;
    cursor: pointer;
    font-size: 1vw;
    transition: 0.4s;
}

button:hover {
    background: #6a11cb;
    transform: scale(1.05);
}





