  *{
  margin:0;
  padding:0;
  font-family:monospace;
}

.navbar{
  width:100%;
  height:10%;
  display:flex;
  background-color:mintcream;
}

.navbar .logo{
  width:25%;
  height:100%;
}

.navbar .logo a{
  width:100%;
  height:100%;
  curser:pointer;
  display:flex;
  justify-content:center;
}

.navbar .logo a img{
  width:auto;
  height:auto;
}

.navbar .menu{
  width:75%;
  haight:10%;
  background-color:azure;
}

.navbar .menu .menubar{
  height:100%;
  width:100%;
}

.navbar .menu .menubar ul{
  height:100%;
  width:100%;
  display:flex;
  justify-content:space-around;
}

.navbar .menu .menubar ul li{
  list-style:none;
  height:100%;
  position:relative;
  display:flex;
  align-items:center;
  cursor:pointer;
}

.navbar .menu .menubar ul li a{
  text-decoration:none;
  color:red;
  padding:5px;
  font-size:1.5vw;
}

.navbar .menu .menubar ul .underline_current > a{
  text-decoration:underline red;  
}

.navbar .menu .menubar ul li .submenu{
  display:none;
}
.navbar .menu .menubar ul li:hover .submenu{
  display:block;
  position:absolute;
  flex-direction:column; 
  width:auto;
  height:auto;
  background-color:GhostWhite;
  top:100%;
  left:50%;
  transform:translateX(-50%);
  box-shadow:outset(2% 5% 2% gray);
}

.navbar .menu .menubar ul li .submenu li a{
  color:darkred;
}

@media (max-width:576px){
.navbar{
  width:100%;
  height:7%;
  display:flex;
  background-color:orange;
}
.navbar .logo{
  width:80%;
  height:100%;
}

  .mobilebar{
    width:20%;
    height:100%;
    background-color:blue;
  }
  
}







