  *{
  margin:0;
  padding:0;
  font-family:monospace;
}

.navbar{
  width:100%;
  height:10%;
  display:flex;
  background-color:mintcream;
}

.navbar .logo{
  width:25%;
  height:100%;
}

.navbar .logo a{
  width:100%;
  height:100%;
  curser:pointer;
  display:flex;
  justify-content:center;
}

.navbar .logo a img{
  width:auto;
  height:auto;
}

.navbar .menu{
  width:75%;
  height:100%;
  background-color:azure;
}

.navbar .menu .menubar{
  /* height:100%; */
  width:100%;
}

.navbar .menu .menubar ul{
  height:100%;
  width:100%;
  display:flex;
  justify-content:space-around;
}

.navbar .menu .menubar ul li{
  list-style:none;
  height:100%;
  position:relative;
  display:flex;
  align-items:center;
  cursor:pointer;
}

.navbar .menu .menubar ul li a{
  text-decoration:none;
  color:red;
  padding:5px;
  font-size:1.5vw;
}

.navbar .menu .menubar ul .underline_current > a{
  text-decoration:underline red;  
}

.navbar .menu .menubar ul li .submenu{
  display:none;
}
.navbar .menu .menubar ul li:hover .submenu{
  display:block;
  position:absolute;
  flex-direction:column; 
  width:auto;
  height:auto;
  background-color:GhostWhite;
  top:100%;
  left:50%;
  transform:translateX(-50%);
  box-shadow:outset(2% 5% 2% gray);
}

.navbar .menu .menubar ul li .submenu li a{
  font-size:1vw;
  color:darkred;
  text-align:center;
  display:inline-block;
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

@media (max-width:576px){
.navbar{
  height:5%;
  background-color:orange;
}
.navbar .logo{
  width:80%;
}

.navbar .logo a{
  width:50%;
  justify-content:none;
  padding-left:20%;
}
 
 .navbar .menu{
   width:20%;
 }

 .menu .menubar{
   width:0;
   height:0
  ;
 }

 .menu .mobilebar{
    width:100%;
    height:100%;
    background-color:blue;
  }

 .navbar .menu .mobilebar .hamburger{
    width:100%;
    height:100%;
    display:flex;
    justify-content:right;
    padding-left:5px;
    align-items:center;
    cursor:pointer;
 }

 .navbar .menu .mobile-open .mobilebar .hamburger{
    display:flex;
    background:gray;
    position:absolute;
    top:10%;
    left:auto;
    z-intex:10;
    flex-direction:column;
 }

 .navbar .menu .mobilebar .hamburger span{
  display:block;
  width:20px;
  height:4px;
  background:white;
  border-radius:2px;
  box-shadow:0 7px 0 white,0 -7px 0 white;
  z-index:100;
 }

 .navbar .menu .menubar ul{
  display:none;
 }
}







